---
import path from "node:path";
import CardsSection from "../components/CardsSection.astro";
import Layout from "../layouts/Layout.astro";
import type { Post } from "../types/Post";

import "@fontsource/poppins";
import { groupPostsByDir } from "../utils/groupPostsByDir";
import { formattingPosts } from "../utils/formattingPosts";
import PrimaryAnchor from "../components/PrimaryAnchor.astro";
import SecondaryAnchor from "../components/SecondaryAnchor.astro";

const allPosts = await Astro.glob("../content/docs/**/*.md");
const posts: Post[] = formattingPosts(allPosts);
const gruppedPosts = groupPostsByDir(posts);
---

<Layout title="JS Core">
  <section class="w-full py-32 flex flex-col items-center text-center gap-6">
    <h1 class="lg:text-7xl md:text-6xl sm:text-5xl text-4xl font-black m-0 p-0">
      Potencia tu desarrollo con <span
        class="bg-gradient-to-r from-accent-200 via-accent-600 to-accent-200 inline-block text-transparent bg-clip-text"
        >principios clave</span
      > de software
    </h1>
    <p class="lg:max-w-3xl max-w-2xl sm:text-base text-sm text-gray-400">
      Aprende todo sobre estructuras de datos, algoritmos, patrones de diseño y
      arquitectura de software para mejorar tus habilidades y crear soluciones
      tecnológicas de alto rendimiento.
    </p>
    <div class="w-full flex justify-center gap-4 md:flex-row flex-col">
      <PrimaryAnchor href="/data-structures/introduction"
        >Comenzar a aprender</PrimaryAnchor
      >
      <SecondaryAnchor href="/docs">Sobre el proyecto</SecondaryAnchor>
    </div>
  </section>
  <section class="w-full flex flex-col gap-16">
    <CardsSection
      sectionTitle="Estructuras de datos"
      posts={gruppedPosts["data-structures"]}
      iconName="mdi:code-json"
      iconColor="text-cyan-400"
    />
    <CardsSection
      sectionTitle="Algoritmos"
      posts={gruppedPosts["algorithms"]}
      iconName="mdi:state-machine"
      iconColor="text-emerald-500"
    />
    <CardsSection
      sectionTitle="Patrones de diseño"
      posts={gruppedPosts["design-patterns"]}
      iconName="mdi:robot"
      iconColor="text-amber-500"
    />
    <CardsSection
      sectionTitle="Arquitectura de software"
      posts={gruppedPosts["software-architecture"]}
      iconName="mdi:office-building-cog"
      iconColor="text-purple-600"
    />
  </section>
</Layout>
<style>
  * {
    font-family: "Poppins", sans-serif;
  }
</style>
